doctype html
head
    title Acasa | Grivin House
    meta(name='description' content='Grivin House')
    include pug_includes/css_imports
- var headerStyle= ''


mixin image-portrait(image_name, extension)
    .col-md-3.p-0.grivin-border.galery_image_wrapper.portrait
        .galery_image_container
            a(href=image_name+extension, title='The Cleanerzzz')
                img.galery_image(src=image_name+' (Custom)'+extension alt='Avatar')
                .galery_overlay.d-flex.flex-column.align-items-center.justify-content-center
                    .galery_text
                        i.fa.fa-search-plus(aria-hidden='true')


mixin image-landscape-large(image_name, extension)
    .col-md-6.p-0.grivin-border.galery_image_wrapper.landscape.large
        .galery_image_container
            a(href=image_name+extension title='The Cleaner')
                img.galery_image(src=image_name+' (Custom)'+extension alt='Avatar')
                .galery_overlay.d-flex.flex-column.align-items-center.justify-content-center
                    .galery_text
                        i.fa.fa-search-plus(aria-hidden='true')

mixin image-landscape(image_name, extension)
    .col-md-6.p-0.grivin-border.galery_image_wrapper.landscape
        .galery_image_container
            a(href=image_name+extension title='The Cleaner')
                img.galery_image(src=image_name+' (Custom)'+extension alt='Avatar')
                .galery_overlay.d-flex.flex-column.align-items-center.justify-content-center
                    .galery_text
                        i.fa.fa-search-plus(aria-hidden='true')

body(style='background: #272425')
    .super_container
        include pug_includes/header
        // Home
        // Home
        // Intro

        .text-center(style='margin-top:15vh')
            .clip-text.clip-text_one.w-100.hidden-md-down Galerie
            h1.hidden-lg-up.text-white Galerie
        .intro(style=';margin-bottom: 10vh;')
            .col-md-10.offset-md-1
                .col-md-12.p-0
                    .popup-gallery.row
                        +image-portrait('img/galery_webp/p1','.webp')
                        +image-portrait('img/galery_webp/p2','.webp')
                        +image-portrait('img/galery_webp/p3','.webp')
                        +image-portrait('img/galery_webp/p4','.webp')
                    .popup-gallery.row
                        +image-landscape-large('img/galery_webp/l1','.webp')
                        .col-md-6
                            .popup-gallery.row
                                +image-landscape('img/galery_webp/l2','.webp')
                                +image-landscape('img/galery_webp/l3','.webp')
                                +image-landscape('img/galery_webp/l4','.webp')
                                +image-landscape('img/galery_webp/l5','.webp')
                    .popup-gallery.row
                        +image-portrait('img/galery_webp/p5','.webp')
                        +image-portrait('img/galery_webp/p6','.webp')
                        +image-portrait('img/galery_webp/p7','.webp')
                        +image-portrait('img/galery_webp/p8','.webp')
                    .popup-gallery.row
                        .col-md-6
                            .popup-gallery.row
                                +image-landscape('img/galery_webp/l6','.webp')
                                +image-landscape('img/galery_webp/l7','.webp')
                                +image-landscape('img/galery_webp/l8','.webp')
                                +image-landscape('img/galery_webp/l9','.webp')
                        +image-landscape-large('img/galery_webp/l10','.webp')
                    .popup-gallery.row
                        +image-portrait('img/galery_webp/p9','.webp')
                        +image-portrait('img/galery_webp/p10','.webp')
                        +image-portrait('img/galery_webp/p11','.webp')
                        +image-portrait('img/galery_webp/p12','.webp')
                    .popup-gallery.row
                        +image-landscape-large('img/galery_webp/l11','.webp')
                        .col-md-6
                            .popup-gallery.row
                                +image-landscape('img/galery_webp/l12','.webp')
                                +image-landscape('img/galery_webp/l13','.webp')
                                +image-landscape('img/galery_webp/l14','.webp')
                                +image-landscape('img/galery_webp/l15','.webp')
                    .popup-gallery.row
                        .col-md-6
                            .popup-gallery.row
                                +image-landscape('img/galery_webp/l16','.webp')
                                +image-landscape('img/galery_webp/l17','.webp')
                                +image-landscape('img/galery_webp/l18','.webp')
                                +image-landscape('img/galery_webp/l19','.webp')
                        +image-landscape-large('img/galery_webp/l20','.webp')


    include pug_includes/footer


include pug_includes/generic_imports
script.
    $(document).ready(function () {
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function (item) {
                    return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
                }
            }
        });
    });