// Footer
footer.footer
    .container
        .row
            // Footer Logo
            .col-lg-3.footer_col.d-flex.flex-column.align-items-center
                .footer_logo
                    img.img-fluid.p-3.px-lg-4.py-lg-2(src='img/logo_complet.png' alt='Logo GRIVIN complet')
                .copyright.text-center
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    p(style='line-height: 1.2')
                        | Copyright &copy;
                        | 2019 All rights reserved | This template is made with
                        i.fa.fa-heart-o.pl-2.pr-2(aria-hidden='true')
                        | by
                        a(href='https://colorlib.com' target='_blank' rel="noreferrer") Colorlib
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            // Footer About
            .col-lg-3.footer_col.pt-2.hidden-md-down
                h3.font-weight-bold Support
                a(href="contact.html")
                    h5.text-red Contact
                a(href="termeni.html")
                    h5.text-red Termeni si conditii
                a(href="politica_de_confedintialitate.html")
                    h5.text-red Politica de confidentialitate
                a(href="http://www.anpc.gov.ro/")
                    h5.text-red ANPC
            .col-lg-3.footer_col.pt-2.hidden-md-down
                h3 Locatii
                a(href="contact.html")
                    h4.text-red Principala
            .col-lg-3.footer_col.pt-2.hidden-md-down
                h3 Contact
                h5 Adresa:
                    span.text-red.ml-1 #{address}
                h5 Telefon:
                    span.text-red.ml-1  #{contact_phone}
                h5 Email:
                    span.text-red.ml-1 #{contact_email}

            .col-lg-3.text-center.hidden-md-up
                h3 Support
                a(href="contact.html")
                    h5 Contact
                a(href="termeni.html")
                    h5 Termeni si condditii
                a(href="politica_de_confedintialitate.html")
                    h5 Politica de confidentialitate
                a(href="http://www.anpc.gov.ro/")
                    h5 ANPC
                h3 Locatii
                a(href="https://goo.gl/maps/ZoAZt41Tso6WZxur6")
                    h5 S-Park
                h3 Contact
                h5 Adresa: #{address}
                h5 Telefon: #{contact_phone}
                h5 Email: #{contact_email}